body,
html {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  background: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background-size: cover;
  background-position: center center;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.5s;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  background: none;
  appearance: none;
  border: 0;
  font-size: 22px;
  color: white;
  border-bottom: 2px solid white;
}

input::placeholder {
  color: white;
}

input:focus,
input:active {
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul {
  margin-top: 50px;
}
