@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body,
html {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  background: #333333;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background-size: cover;
  background-position: center center;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0.5s;
  color: white;
}

.location {
  opacity: 0.7;
  transition: opacity 0.3s ease-in;
  font-style: italic;
  font-size: 12px;
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.location:hover {
  opacity: 1;
}
